<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.spellsoft.Activity" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".loginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PessoaActivity"
            android:label="@string/title_activity_pessoa" >
        </activity>
        <activity
            android:name=".ListaPessoaActivity"
            android:label="@string/title_activity_lista_pessoa" >
        </activity>
        <activity
            android:name=".DashBoardActivity"
            android:label="@string/title_activity_dash_board" >
        </activity>
        <activity
            android:name=".EditarPessoaActivity"
            android:label="@string/title_activity_editar_pessoa" >
        </activity>
    </application>

</manifest>
